body {
  width: 100%;
  height: 100%;
  background-color: rgb(144, 144, 231);
  padding-top: 20px;
}

.center-div {
  background-color: rgb(218, 215, 215);
  margin: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid rgb(196, 0, 147);
}

h1 {
  text-align: center;
  background-color: rgb(146, 0, 146);
  border-radius: 5px;
  color: white;
}

.cross {
  display: inline;
  background-color: rgb(209, 153, 79);
  text-align: center;
  margin: auto;
  border-radius: 2px;
}

li {
  display: inline;
}
